@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600;800&display=swap');

* {
  font-family: 'Dosis', sans-serif;!important
  padding: 0;
  margin: 0;
  box-sizing: border-box;!important
}

body {
  /* For mobile phone and others */
  height: 100vh;
  background-image: url('/res/background-small.jpeg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #FCF9F4;
  !important
  background-attachment: fixed;
  background-position: bottom center;
}

@media only screen and (min-width: 600px) {
  /* For desktops and tablets */
  body {
    height: 100vh;
    background-image: url('/res/background.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #FCF9F4;!important
    background-attachment: fixed;
    background-position: bottom center;
  }
  /* Add a background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: center;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #9699B1;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #51557E;
  color: white;
}
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

  .child-container {
    margin-top: 30vh;
    box-sizing: border-box;
  }
}

.child-container {
    margin-top: 10vh;
    box-sizing: border-box;
  }

.profile {
  border-radius: 10%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 10px;
  box-sizing: border-box;
}

.username {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 5px;
  margin-bottom: 3px;
  box-sizing: border-box;
}

.bio {
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  box-sizing: border-box;
  color: #D6D5A8;
}

a {
  text-decoration: none;
  color: #51557E;
  font-size: 50px;
}

.links {
  text-align: center;
}

.img1 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
  img{
  width: 40%;
  height: auto;
}