@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/sf-pro-display-medium.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  font-family:
    "SF Pro Display",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    sans-serif;
}
